<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxz.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cxz.model.Order">
        <result column="Id" property="id" />
        <result column="OrderNo" property="orderno" />
        <result column="CreateTime" property="createtime" />
        <result column="UserName" property="username" />
        <result column="DataFlag" property="dataflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id,OrderNo, CreateTime,DataFlag, UserName
    </sql>
</mapper>